<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Mediacal Record System</a>
    <div class="d-flex ms-auto">
      <div class="dropdown">
        <a class="btn btn-outline-light dropdown-toggle" href="#" role="button" id="accountDropdown" data-bs-toggle="dropdown" aria-expanded="false">계정</a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
          <li><a class="dropdown-item" href="/login.html" id="acctLogin">로그인</a></li>
          <li><a class="dropdown-item" href="/signup.html" id="acctSignup">회원가입</a></li>
          <li><a class="dropdown-item" href="#" id="acctProfile" style="display:none">내 정보</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item text-danger" href="#" id="acctLogout" style="display:none">로그아웃</a></li>
        </ul>
      </div>
      <div id="google_translate_element" class="ms-2" style="display:inline-block;"></div>
    </div>
  </div>
</nav>
